@model List<Medium>
@{
    ViewBag.Title = "Media Manager";
}
<h1>@ViewBag.Title</h1>
<a asp-controller="Media" asp-action="Add">Add a media</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Media ID</th>
            <th>Media Name</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Status</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var media in Model)
        {
        <tr>
            <td>@media.MediaId</td>
            <td>@media.MediaName</td>
            <td>@media.ReleaseDate.ToString("dd MMM yyyy")</td>
            <td>@media.GenreId</td>
            <td>@media.StatusId</td>
            <td>@media.MediaTypeId</td>
            <td><a asp-controller="Media" asp-action="Edit" asp-route-id="@media.MediaId">Edit</a></td>
            <td><a asp-controller="Media" asp-action="Delete" asp-route-id="@media.MediaId">Delete</a></td>
        </tr>
        }
    </tbody>
</table>